.detailed_stats_button {
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
}

.detailed_stats_txt {
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;

    font-family: 'Inter Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--secondary-text-color);

    cursor: pointer;
}

.detailed_stats_txt:hover {
    color: var(--secondary-text-color-hover);
}