.select-buttons-div {
    grid-column: 2/6;
    grid-row: 2/5;

    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    background-color: var(--secondary-color);
    padding: 14px;

    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-color);
}

.select-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: var(--secondary-color);
}

.select-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-button {
    background-color: var(--primary-color);
    padding: 25px;
    padding-top: 17px;
    padding-bottom: 13px;
    cursor: pointer;
    width: 100%;

    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: var(--text-color);

    border: 0;
}

.select-button:hover {
    box-shadow: 6px 6px var(--text-color);
    outline: var(--text-color) 1px;
    background-color: var(--secondary-color);
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
}

.select-button:active {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
    box-shadow: 0px 0px var(--text-color);
    background-color: var(--secondary-color-active);
    transition: .2s ease;
}