.stat_statify_details {
    display: flex;
    flex-direction: row;
}

.stat_statify_details>a {
    font-family: 'Inter Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--secondary-text-color);
}

.rank {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 39px;
    line-height: 47px;
    color: var(--text-color);
    text-align: center;
}

.track_img {
    height: 60px;
    vertical-align: top;
}

.stat_top_statify_one p {
    font-family: 'Inter Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */


    color: var(--text-color);
}

.stat_top_statify_two p {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    font-family: 'Inter Medium';
    /* identical to box height */


    color: var(--text-color);
}

.stotify-table-number {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    /* identical to box height */


    color: var(--text-color);
}

.stotify-table-fois {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 7px;

    color: var(--text-color);
}

.stotify-table-fois-container {
    display: table-cell;
    vertical-align: middle;
}

.stotify-table-fois-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50%;
    gap: 3px 0px;
}